<section class="hero">
  <div class="hero-wrapper">
    <div class="image-wrapper">
      <%= image_tag("boy.png") %>
    </div>
  	<div class="hero-text">
  		<h1>Hi, I am Ron.</h1>
  		<h1 class="cd-headline letters type">
        I <span class="red">love</span>
  			<span class="cd-words-wrapper waiting">
  				<b class="is-visible">web development.</b>
  				<b>ui/ux design.</b>
  				<b>programming.</b>
          <b>character design.</b>
          <b>branding.</b>
  			</span>
  		</h1>
  	</div>
  </div>
</section>
<footer>
  <p class="made-by"><span class="red">♥</span> Made with love by Ron Bacalla Jr. <span class="copyright">© 2015</span></p>
  <%= image_tag("bot.png") %>
</footer>
