<div class="hero">
  <div class="hero-wrapper">
    <div class="image-wrapper">
      <%= image_tag("boy.png", :alt => "rss feed") %>
    </div>
  	<div class="hero-text">
  		<h1>Hi, I am Ron.</h1>
  		<h1 class="cd-headline letters type">
        I <span class="red">love</span>
  			<span class="cd-words-wrapper waiting">
  				<b class="is-visible">web development.</b>
  				<b>ui/ux design.</b>
  				<b>programming.</b>
          <b>character design.</b>
          <b>branding.</b>
  			</span>
  		</h1>
  	</div>
  </div>
</div>