.hero {
	min-height: 100%;
	overflow: hidden;
  background: url(image_path('mobilebg.png')) no-repeat center bottom;
	background-attachment: scroll;
	background-size: cover;
}

.hero-text {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	top: 10%;
	right: 10%;
	position: absolute;
	text-align: right;
}

.hero-text h1 {
	margin-left: 200px;
	font-size: 2.8em;
}

.hero-text h2 {
	font-size: 1.2em;
}

@media only screen and (min-width: 769px) {
	.hero-text h1 {
		font-size: 4.3em;
	}
	.hero-text h2 {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 1025px) {
	.hero {
	    background: url(image_path('bg.png')) no-repeat center center; 
	     -webkit-background-size: cover;
	     -moz-background-size: cover;
	     -o-background-size: cover;
	     background-size: cover;
	}
}
