<nav>
  <a class="toggle-menu"><span class="icon"></span></a>
	<ul>
    <li><a><span class="text">Home</span></a></li>
		<li><a><span class="text">Profile</span></a></li>
		<li><a><span class="text">Blog</span></a></li>
		<li><a><span class="text">Contact</span></a></li>
	</ul>
</nav>