<nav>
  <a class="toggle-menu"><span class="icon"></span></a>
	<ul>
    <li><a class="inactive">Profile</a></li>
    <li><a class="inactive">Workflow</a></li>
    <li><a href="http://www.behance.net/wronfreek" target="_blank"><span class="text">Projects</span></a></li>
    <li><a class="inactive">Contact</a></li>
	</ul>
</nav>