<nav style="position: fixed; display: none">
  <a class="menu-nav"><span class='menu-icon'></span></a>
	<ul>
		<li><a><img class="nav-icon" src="images/profile.svg" /></a></li>
		<li><a><img class="nav-icon" src="images/work.svg" /></a></li>
		<li class="last"><a href="#contact"><img class="nav-icon" src="images/contact.svg" /></a></li>
	</ul>
</nav>